<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ContactEmail" value="ivan@mammothmicro.com" />
        <add key="Domains" value="cgf.mammothmicro.com" />
        <add key="CertificateFileName" value="cgf.mammothmicro.com" />
        <add key="CertificatePassword" value="YourSuperSecretPassword" />
	    <add key="Environment" value="Stage"/>
    </appSettings>
</configuration>